<!-- templates/customers/customer_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Список клиентов</h2>

<div class="container m-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5>Выберите месяц и год для данных о клиентах</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="monthYearPicker">Месяц и Год</label>
                            <input type="text" id="monthYearPicker" name="monthYear" class="form-control" autocomplete="off" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Скачать данные</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
{% if request.user.is_staff %}
    <a href="{% url 'customer-add' %}" class="btn btn-primary mb-2">Добавить нового клиента</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Полное имя</th>
            <th>Марка автомобиля</th>
            <th>Номер автомобиля</th>
            {% if request.user.is_staff %}
                <th>Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for customer in object_list %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.fullname }}</td>
            <td>{{ customer.carname }}</td>
            <td>{{ customer.vehicle_number }}</td>
            {% if request.user.is_staff %}
                <td>
                    <a href="{% url 'customer-gone' customer.id %}" class="btn btn-warning">Отметить как ушедшего</a>
                    <a href="{% url 'customer-update' customer.id %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'customer-delete' customer.id %}" class="btn btn-danger">Удалить</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
