<!-- templates/customers/customer_history.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>История Клиентов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Полное имя</th>
                <th>Марка автомобиля</th>
                <th>Номер автомобиля</th>
                <th>Время прибытия</th>
                <th>Время убытия</th>
                <th>Цена за час</th>
                <th>Общая цена</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.fullname }}</td>
                <td>{{ customer.carname }}</td>
                <td>{{ customer.vehicle_number }}</td>
                <td>{{ customer.arrival_time|date:"Y-m-d H:i" }}</td>
                <td>{{ customer.leave_time|date:"Y-m-d H:i" }}</td>
                <td>
                    {% if customer.hourly_price %}
                        ${{ customer.hourly_price.price }}
                    {% else %}
                        Н/Д
                    {% endif %}
                </td>
                <td>${{ customer.total_price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">История клиентов не найдена.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
