<!-- templates/customers/customer_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Список клиентов</h2>
{% if request.user.is_staff %}
    <a href="{% url 'customer-add' %}" class="btn btn-primary mb-2">Добавить нового клиента</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Полное имя</th>
            <th>Марка автомобиля</th>
            <th>Номер автомобиля</th>
            {% if request.user.is_staff %}
                <th>Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for customer in object_list %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.fullname }}</td>
            <td>{{ customer.carname }}</td>
            <td>{{ customer.vehicle_number }}</td>
            {% if request.user.is_staff %}
                <td>
                    <a href="{% url 'customer-gone' customer.id %}" class="btn btn-warning">Отметить как ушедшего</a>
                    <a href="{% url 'customer-update' customer.id %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'customer-delete' customer.id %}" class="btn btn-danger">Удалить</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
