<!-- templates/customers/customer_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Customer List</h2>
{% if request.user.is_staff %}
    <a href="{% url 'customer-add' %}" class="btn btn-primary mb-2">Add New Customer</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Car name</th>
            <th>Vehicle number</th>
            {% if request.user.is_staff %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for customer in object_list %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.fullname }}</td>
            <td>{{ customer.carname }}</td>
            <td>{{ customer.vehicle_number }}</td>
            {% if request.user.is_staff %}
                <td>
                    <a href="{% url 'customer-gone' customer.id %}" class="btn btn-warning">Mark as Gone</a>
                    <a href="{% url 'customer-update' customer.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'customer-delete' customer.id %}" class="btn btn-danger">Delete</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
