<!-- templates/prices/price_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Список Цен</h2>
{% if request.user.is_staff %}
    <a href="{% url 'price-add' %}" class="btn btn-primary mb-2">Добавить новую цену</a>
{% endif %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
            {% if request.user.is_staff %}
                <th scope="col">Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for price in prices %}
        <tr>
            <th scope="row">{{ price.id }}</th>
            <td>{{ price.price }}</td>
            <td>{{ price.description }}</td>
            {% if request.user.is_staff %}
                <td>
                    <a href="{% url 'price-update' price.id %}" class="btn btn-secondary btn-sm">Редактировать</a>
                    <a href="{% url 'price-delete' price.id %}" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Цены не найдены.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
