<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}
Дом - Система Управления Парковкой
{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в Систему Управления Парковкой!</h1>
        <p class="lead">Управляйте парковочными местами, стратегиями ценообразования и записями клиентов эффективно.</p>
        <hr class="my-4">
        <p>Доступ к различным разделам ниже:</p>
        <div class="row">
            <div class="col-md-4">
                <h3>Места</h3>
                <p>Просмотр и управление парковочными местами.</p>
                <a class="btn btn-info btn-lg" href="{% url 'seat-list' %}" role="button">Посмотреть места</a>
            </div>
            <div class="col-md-4">
                <h3>Цены</h3>
                <p>Регулирование стратегий ценообразования и деталей.</p>
                <a class="btn btn-success btn-lg" href="{% url 'price-list' %}" role="button">Посмотреть цены</a>
            </div>
            <div class="col-md-4">
                <h3>Клиенты</h3>
                <p>Ознакомьтесь с бронированиями и статусами клиентов.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'customer-list' %}" role="button">Посмотреть клиентов</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Название места</th>
                        <th>Описание</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seat in seats %}
                    <tr>
                        <td>{{ seat.id }}</td>
                        <td>{{ seat.place_name }}</td>
                        <td>{{ seat.explanation }}</td>
                        <td>
                            {% if seat.status %}
                                Занято
                            {% else %}
                                Не занято
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="4">Места не найдены.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Описание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for price in prices %}
                    <tr>
                        <th scope="row">{{ price.id }}</th>
                        <td>{{ price.price }}</td>
                        <td>{{ price.description }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Цены не найдены.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Полное имя</th>
                        <th>Марка автомобиля</th>
                        <th>Номер автомобиля</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.fullname }}</td>
                        <td>{{ customer.carname }}</td>
                        <td>{{ customer.vehicle_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
